altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
distro
fastapi
fonttools
fuzzywuzzy
gitdb
GitPython
gpt4all
groq
h11
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
pip
protobuf
pyarrow
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scipy
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
streamlit-autorefresh
streamlit-draggable-list
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
uvicorn
websockets
